<% include ./partials/header %>

<div class='ui main text container'>
	<div class="ui huge header">
		<h2>Url Shortener Service</h2>
		<p>Used to shorten your URL's</p>
	</div>
	<div class='ui top attached segment'>
		<div class='ui divided items'>
			<% urls.forEach(function(url){ %>
			   <div class='item'>
			   		<div class='content'>
			   			<p class='header'><%= url.url %></p><br>
			   			<p class='header'><%= url.hash %></p>
			   		</div><hr>
			   </div>
			<% }); %>
		</div>
	</div>
</div>



<% include ./partials/footer %>
